<table class="ui table">
    <thead>
    <tr>
        <th> Weight </th>
        <th> Chest </th>
        <th> Thigh </th>
        <th> UpperArm </th>
        <th> Waist </th>
        <th> Hips </th>
        <th> Comment </th>
        <th> Weight Trend </th>
    </tr>
    </thead>
    <tbody>
    {{#each member.stats}}
        <tr>
            <td>
                {{weight}}
            </td>
            <td>
                {{chest}}
            </td>
            <td>
                {{thigh}}
            </td>
            <td>
                {{upperArm}}
            </td>
            <td>
                {{waist}}
            </td>
            <td>
                {{hips}}
            </td>
            <td>
                {{comment}}
            </td>
          <td>
             {{#if lostWeight}}
                 <i class="ui large green arrow alternate circle down outline icon"></i>
             {{else}}
                 <i class="ui large red arrow alternate circle up outline icon"></i>
            {{/if}}
          </td>
            <td>
              <a href="/member/{{../member.id}}/deletestat/{{statId}}" class="ui icon button">
              <i class="icon trash"></i>
          </a>
            </td>
        </tr>
    {{/each}}
    </tbody>
</table>
