<table class="ui table">
    <thead>
    <tr>
        <th> Weight </th>
        <th> Chest </th>
        <th> Thigh </th>
        <th> UpperArm </th>
        <th> Waist </th>
        <th> Hips </th>
    </tr>
    </thead>
    <tbody>
    {{#each member.stats}}
        <tr>
            <td>
                {{weight}}
            </td>
            <td>
                {{chest}}
            </td>
            <td>
                {{thigh}}
            </td>
            <td>
                {{upperArm}}
            </td>
            <td>
                {{waist}}
            </td>
            <td>
                {{hips}}
            </td>
            <td>
              <a href="/member/{{../member.id}}/deletestat/{{id}}" class="ui icon button">
              <i class="icon trash"></i>
          </a>
            </td>
          <td>
        ${stat.Comment}
        </td>
    </tr>
    <tr>
        <td>
            <form class="ui black horizontal form" action="/trainer/{{_member.id}}/addcomment/{{stat.id}}" method="POST"> 
            <div class="field">
                <label>Comment</label>
                <input placeholder="Comment" type="text" name="Comment">
            </div>
                <button class="ui tiny blue submit button">Add Comment</button>
        </tr>
    {{/each}}
    </tbody>
</table>
