{{> menu}}

<form class="ui stacked segment form" action="/song/{{member.id}}/updatemember/" method="POST">
  <div class="two fields">
    <div class="field">
      <label>Name</label>
      <input placeholder="Name" type="text" name="Name" value="{{member.name}}">
    </div>
    <div class="field">
      <label>Gender</label>
      <input placeholder="Gender" type="text" name="Gender" value="{{member.gender}}">
    </div>
    <div class="field">
      <label>Password</label>
      <input placeholder="00" type="password" name="Password" value="{{member.password}}">
    </div>
      <label>Address</label>
      <input placeholder="Address" type="text" name="Address" value="{{member.address}}">
    </div>
    <div class="field">
      <label>Height</label>
      <input placeholder="Height" type="text" name="artist" value="{{member.gender}}">
    </div>
    <div class="field">
      <label>Password</label>
      <input placeholder="00" type="password" name="duration" value="{{member.password}}">
    </div>
  </div>
  <button class="ui blue submit button">Update Song</button>
</form>



      "gender": "male",
      "email": "homer@simpson.com",
      "password": "test",
      "address": "Test",
      "height": "180",
      "startingWeight": "90",